
.center {
    text-align: center;
    color: #122A57;
}
.construcao-titulo{
    color: #122A57;
    text-align: center;
}
.flex-container{
    display: flex;
    max-width: 992px;
    margin: auto;
    width: 100%;
}
footer {
    color: white;
    background-color: #122A57;
}

header{
    background-color: #122A57;
    height: 100px;
    display: flex;
    align-items: center;
    color: #fff;
    border-radius: 8px ;
    
}
.headerBottons{
    color:#122A57;
    border-color: black  
}
    

.left {
    text-align: left;
    color:#122A57;
    margin-left: 20px; 
    
    
}
.image{
    border-radius: 50%;
    
    
}
footer {
    border-radius: 8px;
}

/* PÁGINA DE CONTATO */


h1 {
    text-align: center;   

}

.n1{
    text-align: ;
}


